<div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden shadow-lg">
	<img src="{{ type_data.img }}" class="bg-gray-300 w-full object-cover object-center filter brightness-75"
		title="{{ type }}">
	<div class="px-6 py-2">
		<img class="h-6 mr-1 mb-0 inline" src="{{ type_img }}" />
		<h2 class="tracking-widest text-xs font-medium mb-1 inline {{ top_color }}">
			TOP {{ type }}
		</h2>
		<h1 class="title-font text-md font-semibold text-gray-900 mb-0.5 mt-1.5">
			{{ type_data.title }}
		</h1>
		<h1 class="title text-xs font-bold text-gray-600 mb-0.5">&zwnj;{{ type_data.artist }}</h1>
		<div class="flex items-center flex-wrap">
			<span
				class="text-gray-400 mr-0 mt-4 inline-flex items-start lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-0 py-1 pb-1">
				<img class="w-3 h-3 mr-1" src="{{ play_img }}" />
				<span>{{ type_data.plays }} plays</span>
			</span>
		</div>
	</div>
</div>
