<section class="sectionHead">
  <div class="container px-5 py-24 mx-auto group">
    <app-section-title title="Highlights"></app-section-title>
    <div class="flex flex-wrap -m-4">
      <!-- Total Scrobbles -->
      <div class="p-4 xl:w-1/4 md:w-1/2 w-full" *ngIf="total_scrobbles.curr.plays != 0">
        <app-highlights-card title="TOTAL SCROBBLES" [period]="high_period" [data]="total_scrobbles">
        </app-highlights-card>
      </div>
      <!-- Average Daily Scrobbles -->
      <div class="p-4 xl:w-1/4 md:w-1/2 w-full" *ngIf="avg_scrobbles.curr.plays != 0">
        <app-highlights-card title="AVG DAILY SCROBBLES" [period]="high_period" [data]="avg_scrobbles">
        </app-highlights-card>
      </div>
      <!-- Total Listening Time -->
      <div class="p-4 xl:w-1/4 md:w-1/2 w-full" *ngIf="time.curr.text != '0 Days, 0 Hours'">
        <app-highlights-card title="LISTENING TIME" [period]="high_period" [data]="time"></app-highlights-card>
      </div>
      <!-- Active Hours -->
      <div class="p-4 xl:w-1/4 md:w-1/2 w-full" *ngIf="active.curr.plays != 0">
        <app-highlights-card title="MOST ACTIVE HOUR" [period]="high_period" [data]="active"></app-highlights-card>
      </div>
    </div>
  </div>
</section>
<!-- End Section -->