<!-- Section 3 -->
<section class="sectionHead text-center">
  <!-- Top -->
  <div class="container px-5 pt-5 pb-5 mx-auto text-left group">
        <app-section-title title="Top Music"></app-section-title>
        <div class="flex flex-wrap -m-4">
          <div class="p-4 md:w-1/3">
            <app-top-card type="ARTIST" [type_data]="artist"></app-top-card>
          </div>
          <div class="p-4 md:w-1/3">
            <app-top-card type="ALBUM" [type_data]="album"></app-top-card>
          </div>
          <div class="p-4 md:w-1/3">
            <app-top-card type="TRACK" [type_data]="track"></app-top-card>
          </div>
        </div>
        <!-- 2 - 5 -->
        <div class="flex flex-wrap -m-4">
          <div class="p-4 w-full md:w-1/3" >
            <span *ngFor="let artist of this.next.artist; let i = index">
              <app-next-card type="artist" [data]="artist" [index]="i" ></app-next-card>
            </span>
          </div>
          <div class="p-4 w-full md:w-1/3">
            <span *ngFor="let album of this.next.album; let i = index">
              <app-next-card type="album" [data]="album" [index]="i" ></app-next-card>
            </span>
          </div>
          <div class="p-4 w-full md:w-1/3">
            <span *ngFor="let track of this.next.track; let i = index">
              <app-next-card type="track" [data]="track" [index]="i" ></app-next-card>
            </span>
          </div>
        </div>
      </div>
    </section>
